{% load static %}
<aside class="sidebar" role="navigation" aria-label="Main navigation">
  <div class="logo">🎬 24 Cine Crafts</div>
  <ul class="menu" role="menu">
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'editing' %}">{% include 'icons/editing.svg' %}<span class="menu-label">Editing Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'exhibitor' %}">{% include 'icons/star.svg' %}<span class="menu-label">Exhibitor</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'field-publicity' %}">{% include 'icons/star.svg' %}<span class="menu-label">Field Publicity</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'film-distributor' %}">{% include 'icons/star.svg' %}<span class="menu-label">Film Distributor</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'film-processing-lab' %}">{% include 'icons/star.svg' %}<span class="menu-label">Film Processing Lab</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'make-up' %}">{% include 'icons/star.svg' %}<span class="menu-label">Make Up Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'media-publicity' %}">{% include 'icons/star.svg' %}<span class="menu-label">Media Publicity</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'music' %}">{% include 'icons/music.svg' %}<span class="menu-label">Music Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'outdoor-unit' %}">{% include 'icons/star.svg' %}<span class="menu-label">Outdoor Unit</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'processing-lab' %}">{% include 'icons/star.svg' %}<span class="menu-label">Processing Lab</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'producer' %}">{% include 'icons/star.svg' %}<span class="menu-label">Producer</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'publicity-designer' %}">{% include 'icons/star.svg' %}<span class="menu-label">Publicity Designer</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'sets-locations' %}">{% include 'icons/camera.svg' %}<span class="menu-label">Sets and Locations</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'sound-mixing' %}">{% include 'icons/star.svg' %}<span class="menu-label">Sound / Mixing Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'still' %}">{% include 'icons/camera.svg' %}<span class="menu-label">Still Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'story' %}">{% include 'icons/star.svg' %}<span class="menu-label">Story Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'stunt-fight' %}">{% include 'icons/star.svg' %}<span class="menu-label">Stunt / Fight Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'administrative' %}">{% include 'icons/star.svg' %}<span class="menu-label">Administrative Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'art' %}">{% include 'icons/paintbrush.svg' %}<span class="menu-label">Art Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'artists' %}">{% include 'icons/star.svg' %}<span class="menu-label">Artists</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'choreographer' %}">{% include 'icons/star.svg' %}<span class="menu-label">Choreographer</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'cinematographer' %}">{% include 'icons/camera.svg' %}<span class="menu-label">Cinematographer</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'costume' %}">{% include 'icons/star.svg' %}<span class="menu-label">Costume Department</span></a></li>
    <li role="none"><a role="menuitem" tabindex="0" href="{% url 'dynamic_form' 'direction' %}">{% include 'icons/star.svg' %}<span class="menu-label">Direction Department</span></a></li>
  </ul>
</aside>
